.detail{
    display: flex;
    justify-content: center;
}

.detailPage{
    width:fit-content;
}
.spacer{
    height:100px;
    width: 0;
}

.mainContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: fit-content;
}

.infoContainer{
    margin-left:30px;
    height: fit-content;
}

.imageContainer{
    width:fit-content;
    height: fit-content;
    border: 1px solid rgba(114, 114, 114, 0.514);
}

.orderButton{
    width: 100%;
    margin-top: 20px;
}

.infoTab{
    margin-top: 50px;
    width:100%;
}

.tabText{
    color:black;
}
.moreInfoContainer{
    width: 100%;
}

.moreInfoTitle{
    font-size:large;
    font-weight: bold;
}

.moreInfoText{
    min-width: 100%;
    width: 0;
}